---
import ornamenBird from "@assets/dekorasi/bird-couple.png";
import { Image } from "astro:assets";
---

<section class="bg-blueish-gray relative">
  <div
    class="max-w-5xl mx-auto p-6 h-full flex flex-col items-center justify-center"
  >
    <div class="mx-auto lg:w-1/8 md:w-1/6 w-1/4">
      <Image src={ornamenBird} alt="ornamen bird" class="invert" />
    </div>
    <p class="text-center sm:text-base text-sm text-white leading-5 my-4">
      "Dan diantara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan
      pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan
      merasa tenteram kepadanya dan Dia menjadikan diantaramu rasa kasih dan
      sayang. Sungguh, pada yang demikian itu benar-benar terdapat tanda-tanda
      (kebesaran Allah) bagi kaum yang berpikir."
    </p>
    <p class="font-bonheur-royale font-bold md:text-3xl text-2xl text-white">
      - QS. Ar Rum : 21 -
    </p>
  </div>
</section>
