<section class="relative h-screen w-full overflow-hidden">
  <div class="absolute -top-16 -left-6 lg:w-1/3 md:w-1/2 w-11/12">
    <img
      src="/src/assets/dekorasi/bg-main-2.webp"
      alt="ornament top"
      class="-rotate-20"
    />
  </div>
  <div class="absolute top-0 right-0 lg:w-1/6 md:w-1/4 w-1/3">
    <img
      src="/src/assets/dekorasi/ornamen-1.png"
      alt="ornament top"
      class="rotate-180"
    />
  </div>
  <div class="absolute -bottom-12 -right-4 lg:w-1/2 md:w-1/2 w-11/12">
    <img
      src="/src/assets/dekorasi/bg-main-2.webp"
      alt="ornament bottom"
      class="rotate-160"
    />
  </div>
  <div
    class="max-w-6xl mx-auto h-full flex flex-col items-center justify-center space-y-8"
  >
    <p class="text-xl md:text-3xl font-bold text-blue-jeans">THE WEDDING OF</p>
    <h1
      class="text-4xl md:text-6xl scale-150 font-bold font-bonheur-royale text-amber-800"
    >
      Iin & Husnun
    </h1>
    <p class="text-md md:text-lg font-bold">SABTU, 14 JUNI 2025</p>
  </div>
  <slot />
</section>
