---
import "@styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Iin & Husnun Wedding</title>
  </head>
  <body class="font-plus-jakarta-sans">
    <slot />
  </body>
</html>
